<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/artists.css" />

    <title>Artists</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo-container">
          <a href="/">
            <h3>Groupie <span>Tracker</span></h3>
          </a>
        </div>

        <div class="back-to-home">
          <a href="/">Back Home</a>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        {{range .Artists}}
        <div class="artist-card">
          <a href="artist/{{.ID}}" class="artist-link">
            <img src="{{.Image}}" alt="{{.Name}}" />
            <div class="artist-info">
              <h4 class="name">{{.Name}}</h4>
            </div>
          </a>
        </div>
        {{end}}
      </div>
    </main>

    <script src="/static/script.js"></script>
  </body>
</html>
