<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Groupie Tracker</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h2>Choose from the category below:</h2>
        </div>

        <div class="categories">
            <button class="category-btn" id="artists">Artists</button>
            <button class="category-btn" id="locations">Locations</button>
            <button class="category-btn" id="dates">Dates</button>
            <button class="category-btn" id="relations">Relations</button>
        </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>